<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      Clientes
    </p>
    <app-input [data]="searchInput" [parentForm]="form" (tapEvent)="search($event)"></app-input>
    <app-button [data]="{text: 'Agregar', class:'wrapper-modules wrapper-clear'}" (tapEvent)="addCustomer()"
      *ngIf="myapp.reviewPermission(12,'actionAdd')"></app-button>
  </div>
  <div class="content">
    <ng-template ngFor let-customer [ngForOf]="customers">
      <div class="profile fadeIn animated">
        <div class="wrapper">
          <p>
            {{customer.name}}
          </p>
          <img class="selected" src="../../../assets/img/customer.svg" />
          <div class="items">
            <p>{{customer.companyName}}</p>
            <p>{{customer.officeName}}</p>
          </div>
        </div>
        <app-button [data]="{text: 'Editar', class:'wrapper-box'}" (tapEvent)="addCustomer(customer)" *ngIf="myapp.reviewPermission(12,'actionEdit')"></app-button>
      </div>
    </ng-template>
  </div>
</div>
