.wrapper {
	.header {
		width: calc(100% - 120px);
		background-color: white;
		height: 35px;
		padding: 10px 30px;
		font-weight: bold;
		font-size: 20px;
		border-left: 1px solid #f1f1f1;
		border-bottom: 1px solid #f1f1f1;
		position: fixed;
		top: 64px;
		z-index: 1;
		p {
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			height: 20px;
		}
	}
	.content {
		width: calc(100% - 40px);
		padding: 20px 20px;
		position: relative;
		display: flex;
		/* flex-flow: row wrap; */
		/* justify-content: space-between; */
		margin-top: 60px;
		div.left-side {
			width: 70%;
			background-color: white;
			border-radius: 10px;
			padding: 10px;
			display: flex;
			flex-wrap: wrap;
			/* justify-content: space-between; */
			height: fit-content;
			margin: 10px;
			.input {
				width: calc(33.33333333333333% - 20px);
				padding: 10px;
			}
			.input-complete {
				width: calc(100% - 20px);
				padding: 10px;
			}
		}

		div.right-side {
			width: 30%;
			overflow: auto;
			background-color: white;
			border-radius: 10px;
			padding: 10px;
			display: flex;
			flex-wrap: wrap;
			/* justify-content: space-between; */
			height: inherit;
			max-height: 500px;
			margin: 10px;

			&.disabled {
				cursor: initial;
				opacity: 0.4;
				transition: all 400ms linear 0s;
				pointer-events: none;
			}
			p {
				color: #152246;
				font-weight: bold;
				width: 100%;
			}
			p:first-child {
				margin-top: 10px;
			}
			p.empty-message {
				text-align: center;
			}
			li {
				position: relative;
				margin-left: 15px;
				width: 100%;
				padding-bottom: 10px;
				font-weight: bold;
				color: #152246;
				list-style-type: none;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				p {
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					width: 94%;
				}
				span {
					cursor: pointer;
					position: absolute;
					right: 0;
					top: 0;
				}
			}
			li:last-child {
				margin-bottom: 5px;
			}
			.input {
				width: calc(33.33333333333333% - 20px);
				padding: 10px;
			}
			.input-complete {
				width: calc(100% - 20px);
				padding: 10px;
			}
		}
	}
	@media (max-width: 767px) {
		.header {
			width: calc(100% - 60px);
		}
	}
}
