<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      {{concept ? "Editar" : "Agregar"}} concepto
    </p>
    <app-button [data]="{text: 'Cancelar', class:'wrapper-modules-cancel' + (concept ? ' separate-cancel' : '')}" (tapEvent)="doCancel()"></app-button>
    <app-button [data]="{text: 'Eliminar', class:'wrapper-modules-delete'}" (tapEvent)="deleteConcept()" *ngIf="concept && myapp.reviewPermission(10,'actionDelete')"></app-button>
    <app-button [data]="{text: 'Guardar', class:'wrapper-modules'}" [disabled]="form.invalid" (tapEvent)="saveConcept()" *ngIf="myapp.reviewPermission(10,'actionAdd') || myapp.reviewPermission(10,'actionEdit')"></app-button>
  </div>
  <div class="content">
    <div class="left-side">
      <ng-template ngFor let-select [ngForOf]="selects">
        <div class="input">
          <app-label [data]="{text: select.label}"></app-label>
          <app-select [parentForm]="form" [name]="select.name" [options]="select.options" (tapEvent)="selectChange($event)"></app-select>
        </div>
      </ng-template>
      <ng-template ngFor let-input [ngForOf]="inputs">
        <div class="input">
          <app-label [data]="{text: input.label}"></app-label>
          <app-input [parentForm]="form" [data]="input"></app-input>
        </div>
      </ng-template>
      <app-button [data]="{text: 'Agregar', class:'wrapper-modules-add'}" [disabled]="form.controls.type.value[0] === 1" (tapEvent)="addSubConcept()"></app-button>
    </div>
    <div class="right-side" [ngClass]="{'disabled' : form.controls.type.value[0] === 1}">
      <p>Sub Conceptos</p>
      <ng-template ngFor let-subConcept let-i="index" [ngForOf]="form.controls.subConcepts.value">
        <li [title]="subConcept.name">
          <p>
            {{(i + 1) + '.- ' + subConcept.name}}
          </p>
          <span (click)="removeSubConcept(i)">x</span>
        </li>
      </ng-template>
      <p *ngIf="form.controls.subConcepts.value.length === 0" class="empty-message">No tienes Sub conceptos agregados</p>
    </div>
  </div>
</div>
