<div [class]="data.class ? 'wrapper ' + data.class : 'wrapper'">
  <button [class]="disabled ? 'disabled' : ''" type="button" [disabled]="disabled || false" (click)="click()">{{data.text}}</button>
</div>
