.wrapper {
  text-align: right;
  button {
    border-radius: 10px;
    color: white;
    font-weight: bold;
    //padding: 10px 15px 10px 15px;
    padding: 8px 15px 8px 15px;
    cursor: pointer;
    font-size: 12px;
    transition: all 400ms linear 0s;
  }
  button.disabled {
    cursor: initial;
    opacity: 0.4;
    transition: all 400ms linear 0s;
  }
  button:focus {
    outline: none;
  }
  @media (max-width: 767px) {
    button {
      font-size: 12px;
      padding: 8px 10px 8px 10px;
    }
  }
}
.wrapper-modules {
  margin: 0;
  button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    right: 10px;
    text-transform: uppercase;
    background: #152246;
  }
}
.wrapper-clear {
  button {
    background: white;
    color: black;
  }
}
.wrapper-large {
  button {
    width: 100%;
    font-size: 14px;
    color: #152246;
  }
}
.wrapper-modules-cancel {
  margin: 0;
  button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    right: 130px;
    text-transform: uppercase;
    background: #31373178;
  }
}
.wrapper-modules-add {
  margin: 0;
  button {
    right: 10px;
    text-transform: uppercase;
    background: #152246;
    margin: 40px 0 0 10px;
  }
}
.separate-cancel {
  button {
    right: 240px;
  }
}
.wrapper-modules-delete {
  margin: 0;
  button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    right: 120px;
    text-transform: uppercase;
    background: #F05454;
  }
}
.wrapper-box {
  text-align: center;
  border-top: 1px solid #f1f1f1;
  padding-top: 10px;
  button {
    text-transform: uppercase;
    background: white;
    color: black;
  }
}
