<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      Sucursales
    </p>
    <app-input [data]="searchInput" [parentForm]="form" (tapEvent)="search($event)"></app-input>
    <app-button [data]="{text: 'Agregar', class:'wrapper-modules wrapper-clear'}" (tapEvent)="addOffice()"
      *ngIf="myapp.reviewPermission(5,'actionAdd')"></app-button>
  </div>
  <div class="content">
    <ng-template ngFor let-office [ngForOf]="offices">
      <div class="profile fadeIn animated">
        <div class="wrapper">
          <p>
            {{office.name}}
          </p>
          <img class="selected" [src]="office.picture ? office.picture : '../../../assets/img/store.svg'" />
          <div class="items">
            <p>{{office.address || "Esta sucursal no tiene una dirección registrada"}}</p>
            <p>{{office.companyName}}</p>
          </div>
        </div>
        <app-button [data]="{text: 'Editar', class:'wrapper-box'}" (tapEvent)="addOffice(office)" *ngIf="myapp.reviewPermission(5,'actionEdit')"></app-button>
      </div>
    </ng-template>
  </div>
</div>
