<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      Programas
    </p>
    <app-input [data]="searchInput" [parentForm]="form" (tapEvent)="search($event)"></app-input>
    <app-button [data]="{text: 'Agregar', class:'wrapper-modules wrapper-clear'}" (tapEvent)="addProgram()"
      *ngIf="myapp.reviewPermission(6,'actionAdd')"></app-button>
  </div>
  <div class="content">
    <ng-template ngFor let-program [ngForOf]="programs">
      <div class="profile fadeIn animated">
        <div class="wrapper">
          <p>
            {{program.name}}
          </p>
          <img class="selected" src="../../../assets/img/pencil.svg" />
          <div class="items">
            <p>{{program.companyName}}</p>
            <p>{{program.officeName}}</p>
          </div>
        </div>
        <app-button [data]="{text: 'Editar', class:'wrapper-box'}" (tapEvent)="addProgram(program)" *ngIf="myapp.reviewPermission(6,'actionEdit')"></app-button>
      </div>
    </ng-template>
  </div>
</div>
