<!--div [class]="'wrapper ' + _subMenu?.key" (mouseout)="hide(false)" (clickOutside)="hide(true)" (mouseover)="show()" *ngIf="_show"-->
<div [class]="'wrapper ' + _subMenu?.key" (clickOutside)="hide(true)" (mouseover)="show()" *ngIf="_show">
  <ng-template ngFor let-module [ngForOf]="_subMenu[_subMenu?.key]">
    <p *ngIf="myapp.reviewPermission(module.id,'actionView')" (click)="openModule(module)">
      <i [class]="'fa fa-' + module.icon" aria-hidden="true"></i>
      {{module.text}}
    </p>
  </ng-template>
</div>
<div class="wrapper-mobile" *ngIf="_show">
  <ng-template ngFor let-module [ngForOf]="_responsive" let-i="index">
    <p class="title" (click)="showMenu('subMenu-' + i);module.options.length === 0 ? openModule(module) : '';">
      {{module.name}}
      <i [class]="'fa fa-chevron-down'" aria-hidden="true" *ngIf="module.options.length > 0"></i>
    </p>
    <div class="subMenuMobile fadeIn animated" *ngIf="_referenceSubmenu === 'subMenu-' + i">
      <ng-template ngFor let-option [ngForOf]="module.options">
        <p class="options" (click)="openModule(option)">
          <i [class]="'fa fa-' + option.icon" aria-hidden="true"></i>
          {{option.text}}
        </p>
      </ng-template>
    </div>
  </ng-template>
</div>
