.wrapper-mobile {
  display: none;
  z-index: 2;
  @media (max-width: 767px) {
    display: inherit;
    position: absolute;
    top: 64px;
    height: auto;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
    p {
      cursor: pointer;
      border-bottom: 1px solid #f1f1f1;
      font-weight: bold;
      margin: 0;
      padding: 10px;
      i {
        margin-right: 10px;
      }
    }
    p.title {
      position: relative;
      i {
        position: absolute;
        right: 15px;
      }
    }
    p.options {
      padding: 10px 30px;
    }
  }
}
.wrapper {
  z-index: 2;
  p {
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    i {
      margin-right: 10px;
    }
  }
  @media (min-width: 481px) and (max-width: 767px) {
    display: none;
  }
}
div.profile {
  position: fixed;
  right: 8px;
  top: 64px;
  height: auto;
  width: 200px;
  background-color: white;
  border-top: 1px solid #f1f1f1;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
}
div.config {
  position: fixed;
  right: 80px;
  top: 64px;
  height: auto;
  width: 200px;
  background-color: white;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
  border-top: 1px solid #f1f1f1;
}
div.management {
  position: fixed;
  left: 61px;
  top: 124px;
  height: auto;
  width: 200px;
  background-color: white;
  border-top: 1px solid #f1f1f1;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
}
div.projects {
  position: fixed;
  left: 61px;
  top: 185px;
  height: auto;
  width: 200px;
  background-color: white;
  border-top: 1px solid #f1f1f1;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
}
div.modules {
  position: fixed;
  left: 61px;
  top: 368px;
  height: auto;
  width: 200px;
  background-color: white;
  border-top: 1px solid #f1f1f1;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
}