<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      Conceptos
    </p>
    <app-input [data]="searchInput" [parentForm]="form" (tapEvent)="search($event)"></app-input>
    <app-button [data]="{text: 'Agregar', class:'wrapper-modules wrapper-clear'}" (tapEvent)="addConcept()"
      *ngIf="myapp.reviewPermission(10,'actionAdd')"></app-button>
  </div>
  <div class="content">
    <ng-template ngFor let-concept [ngForOf]="concepts">
      <div class="profile fadeIn animated">
        <div class="wrapper">
          <p>
            {{concept.name}}
          </p>
          <img class="selected" src="../../../assets/img/cubes.svg" />
          <div class="items">
            <p>{{concept.companyName}}</p>
            <p>{{concept.officeName}}</p>
          </div>
        </div>
        <app-button [data]="{text: 'Editar', class:'wrapper-box'}" (tapEvent)="addConcept(concept)" *ngIf="myapp.reviewPermission(10,'actionEdit')"></app-button>
      </div>
    </ng-template>
  </div>
</div>
