<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      Proyectos
    </p>
    <app-input [data]="searchInput" [parentForm]="form" (tapEvent)="search($event)"></app-input>
    <app-button [data]="{text: 'Agregar', class:'wrapper-modules wrapper-clear'}" (tapEvent)="addProject()"
      *ngIf="myapp.reviewPermission(7,'actionAdd')"></app-button>
  </div>
  <div class="content">
    <ng-template ngFor let-project [ngForOf]="projects">
      <div class="profile fadeIn animated">
        <div class="wrapper">
          <p>
            {{project.name}}
          </p>
          <img class="selected" src="../../../assets/img/clipboard.svg" />
          <div class="items">
            <p>{{project.companyName}}</p>
            <p>{{project.officeName}}</p>
          </div>
        </div>
        <app-button [data]="{text: 'Editar', class:'wrapper-box'}" (tapEvent)="addProject(project)" *ngIf="myapp.reviewPermission(7,'actionEdit')"></app-button>
      </div>
    </ng-template>
  </div>
</div>
