.wrapper {
	.header {
		width: calc(100% - 120px);
		background-color: white;
		height: 35px;
		padding: 10px 30px;
		font-weight: bold;
		font-size: 20px;
		border-left: 1px solid #f1f1f1;
		border-bottom: 1px solid #f1f1f1;
		position: fixed;
		top: 64px;
		z-index: 1;
		p {
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			height: 20px;
		}
	}
	.content {
		width: calc(100% - 40px);
		padding: 20px 20px;
		position: relative;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin-top: 60px;
		div.left-side {
			width: calc(35% - 40px);
			background-color: white;
			border-radius: 10px;
			padding: 10px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			height: fit-content;
			margin: 10px;
			.input {
				width: calc(50% - 20px);
				margin: 10px;
			}
			.checkbox {
				width: calc(50% - 20px);
				margin: 10px;
				align-items: center;
				display: flex;
			}
		}
		div.right-side {
			width: calc(65% - 40px);
			background-color: white;
			border-radius: 10px;
			padding: 10px;
			height: fit-content;
			margin: 10px;
			.wrapper {
				padding: 10px;
			}
			div.module {
				background-color: white;
				border-radius: 10px;
				text-align: center;
				display: flex;
				.modules-left-side {
					width: 40%;
					text-align: left;
					padding: 0;
					border: 1px solid #f1f1f1;
					border-radius: 10px 0 0 10px;
					p {
						font-weight: bold;
						margin: 0;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						padding: 10px;
						border-bottom: 1px solid #f1f1f1;
						cursor: pointer;
					}
					p.selected {
						background-color: #f1f1f1;
						border-radius: 0;
					}
					p.selected:first-child {
						border-radius: 10px 0 0 0;
					}
					p.selected:last-child {
						border-radius: 0;
					}
				}
				.modules-right-side {
					width: 60%;
					text-align: left;
					padding: 0;
					border: 1px solid #f1f1f1;
					border-radius: 0 10px 10px 0;
					border-left: none;
					display: flex;
					flex-wrap: wrap;
					p {
						font-weight: bold;
						margin: 0;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						padding: 10px;
						width: 100%;
					}
					.colum {
						width: calc(25% - 20px);
						padding: 0px 10px;
						display: flex;
						align-items: center;
						justify-content: center;
						
						.wrapper {
							margin: 0;
						}
					}
					.disable {
						pointer-events: none;
						opacity: 0.4;
						transition: all 400ms linear 0s;
						background-color: #d0d0d07d;
					}
				}
			}
		}
	}
	@media (max-width: 767px) {
		.header {
			width: calc(100% - 60px);
		}
	}
}
