<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      {{profile ? "Editar" : "Agregar"}} perfil
    </p>
    <app-button [data]="{text: 'Cancelar', class:'wrapper-modules-cancel' + (profile ? ' separate-cancel' : '')}"
      (tapEvent)="doCancel()"></app-button>
    <app-button [data]="{text: 'Eliminar', class:'wrapper-modules-delete'}" (tapEvent)="deleteProfile()"
    *ngIf="profile && myapp.reviewPermission(2,'actionDelete')"></app-button>
    <app-button [data]="{text: 'Guardar', class:'wrapper-modules'}" [disabled]="form.invalid" (tapEvent)="addProfile()" *ngIf="myapp.reviewPermission(2,'actionAdd') || myapp.reviewPermission(2,'actionEdit')"></app-button>
  </div>
  <div class="content">
    <div class="left-side">
      <ng-template ngFor let-input [ngForOf]="inputs">
        <div class="input">
          <app-label [data]="{text: input.label}"></app-label>
          <app-input [parentForm]="form" [data]="input"></app-input>
        </div>
      </ng-template>
      <ng-template ngFor let-checkbox [ngForOf]="checkboxs">
        <div class="checkbox">
          <app-checkbox [parentForm]="form" [data]="checkbox"></app-checkbox>
        </div>
      </ng-template>
    </div>
    <div class="right-side">
      <div class="wrapper">
        <app-label [data]="{text: 'Módulos'}"></app-label>
        <div class="module">
          <div class="modules-left-side">
            <ng-template ngFor let-module [ngForOf]="_modules" let-i="index">
              <p [class]="_modules[_auxIndex].text === module.text ? 'selected' : ''" (click)="setModule(i)">
                {{module.text}}</p>
            </ng-template>
          </div>
          <div class="modules-right-side">
            <p>{{_modules[_auxIndex].text}}</p>
            <div class="colum">
              <i class="fa fa-eye" aria-hidden="true" tooltip="Ver" placement="top" show-delay="300"></i>
            </div>
            <div class="colum">
              <i class="fa fa-plus" aria-hidden="true" tooltip="Agregar" placement="top" show-delay="300"></i>
            </div>
            <div class="colum">
              <i class="fa fa-pencil" aria-hidden="true" tooltip="Editar" placement="top" show-delay="300"></i>
            </div>
            <div class="colum">
              <i class="fa fa-trash" aria-hidden="true" tooltip="Eliminar" placement="top" show-delay="300"></i>
            </div>
            <ng-template ngFor let-submenu [ngForOf]="_modules[_auxIndex].submenu">
              <p>{{submenu.text}}</p>
              <div class="colum">
                <app-input [parentForm]="form"
                  [data]="{type: 'checkbox', class:'checkbox', name: submenu.name + 'View', id:submenu.id}"
                  (tapEvent)="resetValues($event, submenu.name,'View')"></app-input>
              </div>
              <div [class]="(form.get(submenu.name + 'View').value == false) ? 'colum disable' : 'colum'">
                <app-input [parentForm]="form"
                  [data]="{type: 'checkbox', class:'checkbox', name: submenu.name + 'Add', id:submenu.id}"
                  (tapEvent)="resetValues($event, submenu.name,'Add')"></app-input>
              </div>
              <div [class]="(form.get(submenu.name + 'View').value == false) ? 'colum disable' : 'colum'">
                <app-input [parentForm]="form"
                  [data]="{type: 'checkbox', class:'checkbox', name: submenu.name + 'Edit', id:submenu.id}"
                  (tapEvent)="resetValues($event, submenu.name,'Edit')"></app-input>
              </div>
              <div [class]="(form.get(submenu.name + 'View').value == false) ? 'colum disable' : 'colum'">
                <app-input [parentForm]="form"
                  [data]="{type: 'checkbox', class:'checkbox', name: submenu.name + 'Delete', id:submenu.id}"
                  (tapEvent)="resetValues($event, submenu.name,'Delete')">
                </app-input>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
