<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      Usuarios
    </p>
    <app-input [data]="searchInput" [parentForm]="form" (tapEvent)="search($event)"></app-input>
    <app-button [data]="{text: 'Agregar', class:'wrapper-modules wrapper-clear'}" (tapEvent)="goUser()" *ngIf="myapp.reviewPermission(1,'actionAdd')"></app-button>
  </div>
  <div class="content">
    <ng-template ngFor let-user [ngForOf]="users">
      <div class="user fadeIn animated">
        <div class="wrapper">
          <p>
            {{user.name}}
          </p>
          <img class="usr" [src]="user.picture ? user.picture : '../../assets/img/avatar.png'" />
          <p>
            {{user.email}}
          </p>
          <p>
            {{user.roleName}}
          </p>
        </div>
        <app-button [data]="{text: 'Editar', class:'wrapper-box'}" (tapEvent)="goUser(user)" *ngIf="myapp.reviewPermission(1,'actionEdit')"></app-button>
      </div>
    </ng-template>
  </div>
</div>
