<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      Inicio
    </p>
  </div>
  <div class="content">
    <div class="box">
      <p>
        Ventas
      </p>
      <canvas id="sales" width="1200" height="350"></canvas>
    </div>
    <div class="sub-content">
      <div class="box">
        <p>
          Egresos
        </p>
        <canvas id="expenses" width="200" height="200"></canvas>
      </div>
      <div class="box">
        <p>
          Presupuestos
        </p>
        <canvas id="budgets" width="200" height="200"></canvas>
      </div>
    </div>
  </div>
</div>
