.wrapper {
	.header {
		width: calc(100% - 120px);
		background-color: white;
		height: 35px;
		padding: 10px 30px;
		font-weight: bold;
		font-size: 20px;
		border-left: 1px solid #f1f1f1;
		border-bottom: 1px solid #f1f1f1;
		position: fixed;
		top: 64px;
		z-index: 1;
		p {
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			height: 20px;
		}
	}
	.content {
		width: calc(100% - 40px);
		padding: 20px 20px;
		position: relative;
		flex-flow: row wrap;
		align-items: flex-start;
		margin-top: 60px;
		div.box {
			background-color: white;
			border-radius: 10px;
			text-align: left;
			padding: 0 25px;
			margin: 10px;
			border:  1px solid #f1f1f1;
			p {
				font-weight: bold;
			}
		}
		.sub-content {
			display: flex;

			.box {
				flex: 1;
			}
		}
	}
	@media (max-width: 767px) {
		.header {
			width: calc(100% - 60px);
			p {
				font-size: 17px;
				height: 17px;
			}
		}
	}
	@media (max-width: 660px) {
		.content {
			justify-content: center;
			display: inline-flex;
		}
	}
}
