<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      Ventas
    </p>
    <app-input [data]="searchInput" [parentForm]="form" (tapEvent)="search($event)"></app-input>
    <app-button [data]="{text: 'Agregar', class:'wrapper-modules wrapper-clear'}" (tapEvent)="addSale()"
      *ngIf="myapp.reviewPermission(16,'actionAdd')"></app-button>
  </div>
  <div class="content">
    <ng-template ngFor let-sale [ngForOf]="sales">
      <div class="profile fadeIn animated">
        <div class="wrapper">
          <p>
            {{sale.unitName}}
          </p>
          <img class="selected" src="../../../assets/img/sold.svg" />
          <div class="items">
            <p>{{sale.customerName}}</p>
            <p>{{sale.scheme}}</p>
          </div>
        </div>
        <app-button [data]="{text: 'Editar', class:'wrapper-box'}" (tapEvent)="addSale(sale)" *ngIf="myapp.reviewPermission(16,'actionEdit')"></app-button>
      </div>
    </ng-template>
  </div>
</div>
