<div class="checkbox" [formGroup]="parentForm">
    <input type="checkbox" [id]="checkbox.id" [name]="checkbox.name" [value]="checkbox.value"
    [checked]="parentForm.controls[checkbox.name].value === true ? true : false"
    [formControlName]="checkbox.name" />
    <label *ngIf="checkbox.label">{{checkbox.label}}</label>
</div>