.checkbox {
    display: flex;
    align-items: center;
    margin-top: 19px;

    input[type='checkbox'] {
        width: 20px;
        height: 20px;
        appearance: none;
        border: 1px solid black;
        cursor: pointer;
        border-radius: 4px;
        text-align: center;

        &[type='checkbox']:checked:after {
            content: "✔";
            color: black;
            font-size: 13px;
            font-weight: 600;
        }
    }
    label {
        font-weight: bold;
        color: #152246;
        margin-left: 10px;
    }
}
