<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      {{office ? "Editar" : "Agregar"}} sucursal
    </p>
    <app-button [data]="{text: 'Cancelar', class:'wrapper-modules-cancel' + (office ? ' separate-cancel' : '')}" (tapEvent)="doCancel()"></app-button>
    <app-button [data]="{text: 'Eliminar', class:'wrapper-modules-delete'}" (tapEvent)="deleteOffice()" *ngIf="office && myapp.reviewPermission(5,'actionDelete')"></app-button>
    <app-button [data]="{text: 'Guardar', class:'wrapper-modules'}" [disabled]="form.invalid" (tapEvent)="saveOffice()" *ngIf="myapp.reviewPermission(5,'actionAdd') || myapp.reviewPermission(5,'actionEdit')"></app-button>
  </div>
  <div class="content">
    <div class="left-side">
      <ng-template ngFor let-select [ngForOf]="selects">
        <div class="input">
          <app-label [data]="{text: select.label}"></app-label>
          <app-select [parentForm]="form" [name]="select.name" [options]="select.options"></app-select>
        </div>
      </ng-template>
      <ng-template ngFor let-input [ngForOf]="inputs">
        <div class="input">
          <app-label [data]="{text: input.label}"></app-label>
          <app-input [parentForm]="form" [data]="input"></app-input>
        </div>
      </ng-template>
    </div>
    <div class="right-side">
      <div class="wrapper">
        <app-label [data]="{text: 'Logo'}"></app-label>
        <div class="company">
          <img class="usr" src="../../../assets/img/store.svg" id="img-usr" />
          <app-input [parentForm]="form" [data]="{'type': 'file','icon':'upload', 'class': 'file','name': 'picture'}" (tapEvent)="setImage($event)">
          </app-input>
        </div>
      </div>
    </div>
  </div>
</div>
