<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      Presupuestos
    </p>
    <app-input [data]="searchInput" [parentForm]="form" (tapEvent)="search($event)"></app-input>
    <app-button [data]="{text: 'Agregar', class:'wrapper-modules wrapper-clear'}" (tapEvent)="addBudget()"
      *ngIf="myapp.reviewPermission(14,'actionAdd')"></app-button>
  </div>
  <div class="content">
    <ng-template ngFor let-budget [ngForOf]="budgets">
      <div class="profile fadeIn animated">
        <div class="wrapper">
          <p>
            {{budget.projectName}}
          </p>
          <img class="selected" src="../../../assets/img/handshake.svg" />
          <div class="items">
            <p>{{budget.advance}} % avance</p>
            <p>{{budget.typeId === 0 ? 'Gastos' : 'Ingresos'}}</p>
          </div>
        </div>
        <app-button [data]="{text: 'Editar', class:'wrapper-box'}" (tapEvent)="addBudget(budget)" *ngIf="myapp.reviewPermission(14,'actionEdit')"></app-button>
      </div>
    </ng-template>
  </div>
</div>
