.wrapper {
	.header {
		width: calc(100% - 120px);
		background-color: white;
		height: 35px;
		padding: 10px 30px;
		font-weight: bold;
		font-size: 20px;
		border-left: 1px solid #f1f1f1;
		border-bottom: 1px solid #f1f1f1;
		position: fixed;
		top: 64px;
		z-index: 1;
		p {
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			height: 20px;
		}
	}
	.content {
		width: calc(100% - 80px);
		padding: 20px 20px;
		position: relative;
		display: block;
		/* flex-flow: row wrap; */
		/* justify-content: space-between; */
		margin-top: 60px;
		div.left-side {
			width: 100%;
			background-color: white;
			border-radius: 10px;
			padding: 10px;
			display: flex;
			flex-wrap: wrap;
			/* justify-content: space-between; */
			height: fit-content;
			margin: 10px;
			&.table {
				display: table;
			}
			.input {
				width: calc(33.33333333333333% - 20px);
				padding: 10px;
			}
			.input-complete {
				width: calc(100% - 20px);
				padding: 10px;
			}
		}
	}
	.table-content {
		width: 100%;
	}
	@media (max-width: 767px) {
		.header {
			width: calc(100% - 60px);
		}
	}
}
