<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      {{sale ? "Editar" : "Agregar"}} venta
    </p>
    <app-button [data]="{text: 'Cancelar', class:'wrapper-modules-cancel' + (sale ? ' separate-cancel' : '')}" (tapEvent)="doCancel()"></app-button>
    <app-button [data]="{text: 'Eliminar', class:'wrapper-modules-delete'}" (tapEvent)="deleteSale()" *ngIf="sale && myapp.reviewPermission(16,'actionDelete')"></app-button>
    <app-button [data]="{text: 'Guardar', class:'wrapper-modules'}" [disabled]="form.invalid" (tapEvent)="saveSale()" *ngIf="myapp.reviewPermission(16,'actionAdd') || myapp.reviewPermission(16,'actionEdit')"></app-button>
  </div>
  <div class="content">
    <div class="left-side">
      <ng-template ngFor let-select [ngForOf]="selects">
        <div class="input">
          <app-label [data]="{text: select.label}"></app-label>
          <app-select [parentForm]="form" [name]="select.name" [disabled]="select.disabled" [options]="select.options" (tapEvent)="selectChange($event)"></app-select>
        </div>
        <ng-template ngFor let-input [ngForOf]="select.inputs">
          <div class="input">
            <app-label [data]="{text: input.label}"></app-label>
            <app-input [parentForm]="form" [data]="input" (tapEvent)="inputChange(input.name, $event)"></app-input>
          </div>
        </ng-template>
      </ng-template>
    </div>
    <div class="left-side">
      <ng-template ngFor let-input [ngForOf]="inputs">
        <div class="input">
          <app-label [data]="{text: input.label}"></app-label>
          <app-input [parentForm]="form" [data]="input"></app-input>
        </div>
      </ng-template>
      <ng-template ngFor let-select [ngForOf]="selectsSecond">
        <div class="input">
          <app-label [data]="{text: select.label}"></app-label>
          <app-select [parentForm]="form" [name]="select.name" [options]="select.options"></app-select>
        </div>
      </ng-template>
      <app-button [data]="{text: editIndex !== null ? 'Modificar' : 'Agregar', class:'wrapper-modules-add'}" [disabled]="form.controls.paidImport.value === '00.00'" (tapEvent)="addSale()"></app-button>
      <div class="table-content">
        <app-table [columns]="table.columns" [rows]="form.controls.sales.value" [selectedRow]="editIndex" (editEvent)="editTableRow($event)" (deleteEvent)="deleteTableRow($event)"></app-table>
      </div>
    </div>
  </div>
</div>
