<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      Costos
    </p>
    <app-button [data]="{text: 'Agregar', class:'wrapper-modules wrapper-clear'}" (tapEvent)="addCosts()"
      *ngIf="myapp.reviewPermission(6,'actionAdd')"></app-button>
  </div>
  <div class="content">
    <ng-template ngFor let-cost [ngForOf]="costs">
      <div class="profile fadeIn animated">
        <div class="wrapper">
          <p>
            {{cost.level1}}
          </p>
          <img class="selected" src="../../../assets/img/money.svg" />
          <div class="items">
            <p>{{cost.companyName}}</p>
            <p>{{cost.officeName}}</p>
          </div>
        </div>
        <app-button [data]="{text: 'Editar', class:'wrapper-box'}" (tapEvent)="addCosts(cost)" *ngIf="myapp.reviewPermission(6,'actionEdit')"></app-button>
      </div>
    </ng-template>
  </div>
</div>
