<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      Perfiles
    </p>
    <app-input [data]="searchInput" [parentForm]="form" (tapEvent)="search($event)"></app-input>
    <app-button [data]="{text: 'Agregar', class:'wrapper-modules wrapper-clear'}" (tapEvent)="goProfile()"
      *ngIf="myapp.reviewPermission(2,'actionAdd')"></app-button>
  </div>
  <div class="content">
    <ng-template ngFor let-profile [ngForOf]="profiles">
      <div class="profile fadeIn animated">
        <div class="wrapper">
          <p>
            {{profile.name}}
          </p>
          <img [ngClass]="{'selected': profile.permissionView === 1}" src="../../../assets/img/data.svg"
            (click)="profile.permissionView = 1" />
          <div class="items">
            <ng-template ngFor let-permission [ngForOf]="profile.permissions">
              <ng-template [ngIf]="permission.id_access === profile.permissionView">
                <p>
                  {{permission.name_module}}
                </p>
              </ng-template>
            </ng-template>
          </div>
        </div>
        <app-button [data]="{text: 'Editar', class:'wrapper-box'}" (tapEvent)="goProfile(profile)"
          *ngIf="profile.id !== 1 && myapp.reviewPermission(2,'actionEdit')"></app-button>
      </div>
    </ng-template>
    <!--div class="profile">
      <div class="wrapper">
        <p>
          Administrador
        </p>
        <img class="selected" src="../../../assets/img/data.svg" />
        <img src="../../../assets/img/smartphone.svg" />
        <div class="items">
          <p>Home</p>
          <p>Catalogos</p>
          <p>Compañia</p>
          <p>Perfiles</p>
          <p>Usuarios</p>
        </div>
      </div>
      <app-button [data]="{text: 'Editar', class:'wrapper-box'}" (tapEvent)="goProfile()"></app-button>
    </div-->
  </div>
</div>
