.wrapper {
  select {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 9px 60px 9px 15px;
    overflow: auto;
  }
  select.disabled {
		cursor: initial;
		opacity: 0.4;
		transition: all 400ms linear 0s;
    background-color: #d0d0d07d;
		pointer-events: none;
	}
  select:focus {
		outline: 0;
		border: 0;
		box-shadow: 0 0 0 1px #373737;
  }
  ::-webkit-scrollbar {
    border-radius: 0 8px 8px 0;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0 8px 8px 0;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 0 8px 8px 0;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}