<div class="wrapper" [formGroup]="parentForm">
  <select [class]="_disabled ? 'disabled' : ''" [tabindex]="_disabled ? -1 : 0" [formControlName]="name" (change)="changeOption(name, index = $event.target.selectedIndex)" [multiple]="_multiple">
    <ng-template ngFor let-option [ngForOf]="_options" let-i="index">
      <option [value]="option.id">{{_multiple ? '●' : ''}} {{option.name}}</option>
    </ng-template>
  </select>
</div>
