<div class="wrapper">
    <table>
        <tbody>
            <tr>
                <th></th>
                <ng-template ngFor let-column [ngForOf]="columns">
                    <th>{{column}}</th>
                </ng-template>
                <th></th>
                <th></th>
            </tr>
            <ng-template ngFor let-row let-i="index" [ngForOf]="rows">
                <tr [ngClass]="{'selected' : selectedRow === i}">
                    <td>
                        {{i + 1}}
                    </td>
                    <ng-template ngFor let-rowValue [ngForOf]="row">
                        <td *ngIf="rowValue.typeOfMask == 1">
                            {{rowValue.value | currency}}
                        </td>
                        <td *ngIf="rowValue.typeOfMask == null">
                            {{rowValue.value}}
                        </td>
                    </ng-template>
                    <td class="icon">
                        <i class="fa fa-pencil" title="Editar" aria-hidden="true" (click)="editRow(i)"></i>
                    </td>
                    <td class="icon">
                        <i class="fa fa-trash" title="Eliminar" aria-hidden="true" (click)="removeRow(i)"></i>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </table>
    <p *ngIf="rows.length === 0">
        No tienes registros para mostrar en esta tabla.
    </p>
</div>