.wrapper {
    padding: 10px;

    table {
        width:100%;
        font-size: 15px;
    }
    table {
        border: 1px solid lightgray;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
        text-align: left;
    }
    td.icon {
        text-align: center;
        i {
            cursor: pointer;
        }
    }
    tr:nth-child(even) {
        background-color: #eee;
    }
    tr:nth-child(odd) {
        background-color: #fff;
    }
    tr:hover {
        background-color: aliceblue;
    }
    tr.selected {
        background-color: aliceblue;
    }
    th {
        background-color: #152246;
        color: white;
    }
    // thead, tbody { display: block; }
    tbody {
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    p {
        text-align: center;
        border: 1px solid lightgray;
        margin: 0 1px 1px 1px;
        padding: 30px;
    }
}