<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      Formas de pago
    </p>
    <app-input [data]="searchInput" [parentForm]="form" (tapEvent)="search($event)"></app-input>
    <app-button [data]="{text: 'Agregar', class:'wrapper-modules wrapper-clear'}" (tapEvent)="addPaymentMethod()"
      *ngIf="myapp.reviewPermission(8,'actionAdd')"></app-button>
  </div>
  <div class="content">
    <ng-template ngFor let-paymentMethod [ngForOf]="paymentMethods">
      <div class="profile fadeIn animated">
        <div class="wrapper">
          <p>
            {{paymentMethod.name}}
          </p>
          <img class="selected" src="../../../assets/img/cash-payment.svg" />
          <div class="items">
            <p>{{paymentMethod.companyName}}</p>
            <p>{{paymentMethod.officeName}}</p>
          </div>
        </div>
        <app-button [data]="{text: 'Editar', class:'wrapper-box'}" (tapEvent)="addPaymentMethod(paymentMethod)" *ngIf="myapp.reviewPermission(8,'actionEdit')"></app-button>
      </div>
    </ng-template>
  </div>
</div>
