<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      {{company ? "Editar" : "Agregar"}} companía
    </p>
    <app-button [data]="{text: 'Cancelar', class:'wrapper-modules-cancel' + (company ? ' separate-cancel' : '')}" (tapEvent)="doCancel()"></app-button>
    <app-button [data]="{text: 'Eliminar', class:'wrapper-modules-delete'}" (tapEvent)="deleteCompany()" *ngIf="company && myapp.reviewPermission(4,'actionDelete')"></app-button>
    <app-button [data]="{text: 'Guardar', class:'wrapper-modules'}" [disabled]="form.invalid" (tapEvent)="addCompany()" *ngIf="myapp.reviewPermission(4,'actionAdd') || myapp.reviewPermission(4,'actionEdit')"></app-button>
  </div>
  <div class="content">
    <div class="left-side">
      <ng-template ngFor let-input [ngForOf]="inputs">
        <div class="input">
          <app-label [data]="{text: input.label}"></app-label>
          <app-input [parentForm]="form" [data]="input"></app-input>
        </div>
      </ng-template>
    </div>
    <div class="right-side">
      <div class="wrapper">
        <app-label [data]="{text: 'Logo'}"></app-label>
        <div class="company">
          <img class="usr" src="../../../assets/img/company_default.svg" id="img-usr" />
          <app-input [parentForm]="form" [data]="{'type': 'file','icon':'upload', 'class': 'file','name': 'picture'}" (tapEvent)="setImage($event)">
          </app-input>
        </div>
      </div>
    </div>
  </div>
</div>
