<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      Departamentos
    </p>
    <app-input [data]="searchInput" [parentForm]="form" (tapEvent)="search($event)"></app-input>
    <app-button [data]="{text: 'Agregar', class:'wrapper-modules wrapper-clear'}" (tapEvent)="addDepartment()"
      *ngIf="myapp.reviewPermission(9,'actionAdd')"></app-button>
  </div>
  <div class="content">
    <ng-template ngFor let-department [ngForOf]="departments">
      <div class="profile fadeIn animated">
        <div class="wrapper">
          <p>
            {{department.unit}}
          </p>
          <img class="selected" src="../../../assets/img/apartment.svg" />
          <div class="items">
            <p>{{department.companyName}}</p>
            <p>{{department.officeName}}</p>
          </div>
        </div>
        <app-button [data]="{text: 'Editar', class:'wrapper-box'}" (tapEvent)="addDepartment(department)" *ngIf="myapp.reviewPermission(9,'actionEdit')"></app-button>
      </div>
    </ng-template>
  </div>
</div>
