<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      {{user ? 'Editar': 'Agregar'}} usuario
    </p>
    <app-button [data]="{text: 'Cancelar', class:'wrapper-modules-cancel'+ (user ? ' separate-cancel' : '')}" (tapEvent)="doCancel()"></app-button>
    <app-button [data]="{text: 'Eliminar', class:'wrapper-modules-delete'}" (tapEvent)="deleteUser()" *ngIf="user && myapp.reviewPermission(1,'actionDelete')"></app-button>
    <app-button [data]="{text: 'Guardar', class:'wrapper-modules'}" [disabled]="form.invalid" *ngIf="myapp.reviewPermission(1,'actionAdd') || myapp.reviewPermission(1,'actionEdit')" (tapEvent)="addUser()">
    </app-button>
  </div>
  <div class="content">
    <div class="left-side" [formGroup]="form">
      <ng-template ngFor let-input [ngForOf]="inputs">
        <div class="input">
          <app-label [data]="{text: input.label}"></app-label>
          <app-input [data]="input" [parentForm]="form"></app-input>
        </div>
      </ng-template>
      <ng-template ngFor let-select [ngForOf]="selects">
        <div class="input">
          <app-label [data]="{text: select.label}"></app-label>
          <app-select [parentForm]="form" (tapEvent)="select.name === 'id_company' ? changeOffices($event) : ''" [name]="select.name" [options]="select.options" [multiple]="select.multiple">
          </app-select>
        </div>
      </ng-template>
    </div>
    <div class="right-side">
      <div class="wrapper">
        <app-label [data]="{text: 'Fotografía'}"></app-label>
        <div class="user">
          <img class="usr" src="../../assets/img/avatar.png" id="img-usr" />
          <app-input [data]="{'type': 'file','name': 'picture' ,'icon':'upload', 'class': 'file'}" [parentForm]="form"
            (tapEvent)="setImage($event)">
          </app-input>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</div>
