.wrapper {
	.header {
		width: calc(100% - 120px);
		background-color: white;
		height: 35px;
		padding: 10px 30px;
		font-weight: bold;
		font-size: 20px;
		border-left: 1px solid #f1f1f1;
		border-bottom: 1px solid #f1f1f1;
		position: fixed;
		top: 64px;
		z-index: 1;
		p {
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			height: 20px;
		}
	}
	.content {
		width: calc(100% - 40px);
		padding: 20px 20px;
		position: relative;
		display: flex;
		/* flex-flow: row wrap; */
		/* justify-content: space-between; */
		margin-top: 60px;
		div.left-side {
			width: calc(52% - 40px);
			background-color: white;
			border-radius: 10px;
			padding: 10px;
			display: flex;
			flex-wrap: wrap;
			/* justify-content: space-between; */
			height: fit-content;
			margin: 10px;
			.input {
				width: calc(50% - 20px);
				padding: 10px;
			}
			.input-complete {
				width: calc(100% - 20px);
				padding: 10px;
			}
		}
		div.right-side {
			width: calc(48% - 40px);
			background-color: white;
			border-radius: 10px;
			padding: 10px;
			height: fit-content;
			margin: 10px;
			.wrapper {
				padding: 10px;
			}
			div.user {
				background-color: white;
				border-radius: 10px;
				text-align: center;
				p {
					font-weight: bold;
				}
				img {
					width: 120px;
					height: 120px;
					border-radius: 50%;
					margin-bottom: 10px;
				}
			}
		}
	}
	@media (max-width: 767px) {
		.header {
			width: calc(100% - 60px);
		}
	}
}
