<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      Agentes
    </p>
    <app-input [data]="searchInput" [parentForm]="form" (tapEvent)="search($event)"></app-input>
    <app-button [data]="{text: 'Agregar', class:'wrapper-modules wrapper-clear'}" (tapEvent)="addAgent()"
      *ngIf="myapp.reviewPermission(11,'actionAdd')"></app-button>
  </div>
  <div class="content">
    <ng-template ngFor let-agent [ngForOf]="agents">
      <div class="profile fadeIn animated">
        <div class="wrapper">
          <p>
            {{agent.name}}
          </p>
          <img class="selected" src="../../../assets/img/estate-agent.svg" />
          <div class="items">
            <p>{{agent.companyName}}</p>
            <p>{{agent.officeName}}</p>
          </div>
        </div>
        <app-button [data]="{text: 'Editar', class:'wrapper-box'}" (tapEvent)="addAgent(agent)" *ngIf="myapp.reviewPermission(11,'actionEdit')"></app-button>
      </div>
    </ng-template>
  </div>
</div>
