<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      {{agent ? "Editar" : "Agregar"}} agente
    </p>
    <app-button [data]="{text: 'Cancelar', class:'wrapper-modules-cancel' + (agent ? ' separate-cancel' : '')}" (tapEvent)="doCancel()"></app-button>
    <app-button [data]="{text: 'Eliminar', class:'wrapper-modules-delete'}" (tapEvent)="deleteAgent()" *ngIf="agent && myapp.reviewPermission(11,'actionDelete')"></app-button>
    <app-button [data]="{text: 'Guardar', class:'wrapper-modules'}" [disabled]="form.invalid" (tapEvent)="saveAgent()" *ngIf="myapp.reviewPermission(11,'actionAdd') || myapp.reviewPermission(11,'actionEdit')"></app-button>
  </div>
  <div class="content">
    <div class="left-side">
      <ng-template ngFor let-select [ngForOf]="selects">
        <div class="input">
          <app-label [data]="{text: select.label}"></app-label>
          <app-select [parentForm]="form" [name]="select.name" [options]="select.options"></app-select>
        </div>
      </ng-template>
      <ng-template ngFor let-input [ngForOf]="inputs">
        <div class="input">
          <app-label [data]="{text: input.label}"></app-label>
          <app-input [parentForm]="form" [data]="input"></app-input>
        </div>
      </ng-template>
    </div>
  </div>
</div>
