.wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(../../../assets/img/vistanautilus.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: revert;
	overflow: hidden;
	div.title {
		app-label {
			position: absolute;
			left: 0;
			right: 0;
			top: 22%;
			margin: auto;
			text-align: center;
			font-size: 35px;
			font-weight: bold;
			letter-spacing: 1px;
		}
	}
	div.content {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		min-width: 23%;
		width: 300px;
		height: 455px;
		border-radius: 4px;
		border-style: outset;
		padding: 10px;
		background: rgba(54, 54, 54, 0.7);
    	border: 1px solid #767676;
		box-shadow: 0 0 3px 1px rgb(0 0 0 / 50%), 0 0 4px 0px rgb(255 255 255 / 50%) inset, 0 0 4px 0px rgb(255 255 255 / 50%), 0 0 65px 25px rgb(255 255 255 / 14%);
		display: flex;
		div.content-side {
			width: 100%;
			margin: 10px;
			padding: 20px;
			background: #fdfdfdc9;
			app-label:first-child {
				position: relative;
				text-align: center;
				font-size: 24px;
			}
			app-button {
				div {
					button {
						width: 300px !important;
					}
				}
			}
			div.img {
				text-align: center;
				margin-top: 20px;
				img {
					width: 95px;
    				border-radius: 50%;
				}
			}
			div.form {
				margin: 20px 0 35px 0;
				app-label {
					text-align: left;
					font-size: inherit;
				}
			}
		}
	}
	img.left-top {
		position: absolute;
		text-align: center;
		left: 10px;
		top: 10px;
		margin: auto;
	}
}
