<div class="wrapper">
  <img class="left-top" src="../../assets/img/nautiluslogo.png" />
  <div class="content">
    <div class="content-side">
      <app-label [data]="{text: 'Iniciar sesión'}"></app-label>
      <div class="img">
        <img src="../../assets/img/avatar.png" />
      </div>
      <div class="form" [formGroup]="form">
        <ng-template ngFor let-input [ngForOf]="inputs">
          <app-label [data]="{text: input.label}"></app-label>
          <app-input [data]="input" [parentForm]="form"></app-input>
        </ng-template>
      </div>
      <ng-template ngFor let-button [ngForOf]="buttons">
        <app-button [data]="button" [disabled]="form.invalid" (tapEvent)="goLogin()"></app-button>
      </ng-template>
    </div>
  </div>
</div>
