.wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
  z-index: 2;
  border-top: solid 4px #152246;
  i.config {
    position: absolute;
    right: 185px;
    font-size: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 17.6px;
    cursor: pointer;
  }
  i.menu {
    display: none;
    position: absolute;
    right: 24px;
    font-size: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 17.6px;
    cursor: pointer;
  }
  img.logo {
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 40px;
    width: auto;
    cursor: pointer;
  }
  img.usr {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 120px;
    border: solid 2px #b3b3b3;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;
  }
  label.logout {
    height: 20px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    align-items: center;
    display: flex;
    font-weight: bold;
  }
  @media  (max-width: 767px) {
    img.usr {
      display: none;
    }  
    i.config {
      display: none;
    }  
    i.menu {
      display: inherit;
    }
  }
}