<div class="wrapper">
  <img class="logo" src="../../assets/img/nautiluslogo.png" (click)="refreshPage()"/>
  <i class="fa fa-cog config" aria-hidden="true" *ngIf="myapp.reviewPermission(1,'actionView') || myapp.reviewPermission(2,'actionView')" (click)="openSubMenu('config')"></i>
  <img class="usr" src="../../assets/img/avatar.png" (click)="openSubMenu('profile')" />
  <label class="logout" (click)="logOut()">Cerrar Sesion</label>
  <i class="fa fa-bars menu" aria-hidden="true" (click)="openSubMenu('resposive')"></i>
</div>
