<div class="wrapper">
  <div *ngFor="let option of _menu;let i = index">
    <div class="item" *ngIf="reviewPermission(option.ids)" (click)="openSubMenu(i, option.class)">
      <img [src]="'../../assets/img/'+ option.img +'.svg'" />
      <p>{{option.text}}</p>
    </div>
  </div>
  <img class="logo" src="../../assets/img/logo_grande.png" (click)="refreshPage()" />
</div>
