.wrapper {
  position: fixed;
  left: 0;
  width: 60px;
  top: 64px;
  height: calc(100% - 64px);
  background: white;
  border-right: 1px solid #f2f2f2;
  .item {
    border-bottom: 1px solid #f1f1f1;
    height: 60px;
    position: relative;
    cursor: pointer;
    img {
      height: 27px;
      position: absolute;
      top: -15px;
      bottom: 0;
      left: 0;
      margin: auto;
      right: 0;
    }
    p {
      position: absolute;
      bottom: 6px;
      margin: 0;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
      width: 100%;
      text-transform: capitalize;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .logo{
    position: absolute;
    left: 10px;
    bottom: 5%;
    margin: auto;
    height: 40px;
    width: auto;
    cursor: pointer;
  }
  @media (max-width: 767px) {
    display: none;
  }
}