<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      {{budget ? "Editar" : "Agregar"}} presupuesto
    </p>
    <app-button [data]="{text: 'Cancelar', class:'wrapper-modules-cancel' + (budget ? ' separate-cancel' : '')}" (tapEvent)="doCancel()"></app-button>
    <app-button [data]="{text: 'Eliminar', class:'wrapper-modules-delete'}" (tapEvent)="deleteBudget()" *ngIf="budget && myapp.reviewPermission(14,'actionDelete')"></app-button>
    <app-button [data]="{text: 'Guardar', class:'wrapper-modules'}" [disabled]="form.invalid" (tapEvent)="saveBudget()" *ngIf="myapp.reviewPermission(14,'actionAdd') || myapp.reviewPermission(14,'actionEdit')"></app-button>
  </div>
  <div class="content">
    <div class="left-side">
      <ng-template ngFor let-select [ngForOf]="selects">
        <div class="input">
          <app-label [data]="{text: select.label}"></app-label>
          <app-select [parentForm]="form" [name]="select.name" [disabled]="select.disabled" [options]="select.options" (tapEvent)="selectChange($event?.formControlName)"></app-select>
        </div>
        <ng-template ngFor let-input [ngForOf]="select.inputs">
          <div class="input" *ngIf="!input.invisible">
            <app-label [data]="{text: input.label}"></app-label>
            <app-input [parentForm]="form" [data]="input"></app-input>
          </div>
        </ng-template>
      </ng-template>
    </div>
    <div class="left-side">
      <ng-template ngFor let-select [ngForOf]="selectsSecond">
        <div class="input">
          <app-label [data]="{text: select.label}"></app-label>
          <app-select [parentForm]="form" [name]="select.name" [options]="select.options" [disabled]="select.disabled" (tapEvent)="selectChange($event?.formControlName)"></app-select>
        </div>
        <ng-template ngFor let-input [ngForOf]="select.inputs">
          <div class="input">
            <app-label [data]="{text: input.label}"></app-label>
            <app-input [parentForm]="form" [data]="input"></app-input>
          </div>
        </ng-template>
      </ng-template>
      <app-button [data]="{text: editIndex !== null ? 'Modificar' : 'Agregar', class:'wrapper-modules-add'}" [disabled]="form.controls.total.value === '00.00' || form.controls.total.value === ''" (tapEvent)="addBudget()"></app-button>
      <div class="table-content">
        <app-table [columns]="table.columns" [rows]="form.controls.budgets.value" [selectedRow]="editIndex" (editEvent)="editTableRow($event)" (deleteEvent)="deleteTableRow($event)"></app-table>
      </div>
    </div>
  </div>
</div>
