.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	.contentModules {
		position: absolute;
		width: calc(100% - 60px);
		height: calc(100% - 64px);
		left: 60px;
		top: 64px;
	}
	@media (max-width: 767px) {
		.contentModules {
			width: 100%;
			left: 0;
		}
	}
}
