<div class="wrapper">
  <app-header (tapEvent)="openSubMenu($event, true)"></app-header>
  <app-sidebar (tapEvent)="openSubMenu($event, true)"></app-sidebar>
  <app-float-sub-menu [show]="_show" [subMenu]="_submenu" (hideEvent)="openSubMenu($event, false)"></app-float-sub-menu>
  <div class="contentModules">
    <router-outlet name="app"></router-outlet>
  </div>
</div>
