<div class="wrapper" [ngClass]="{'search' : input.searchClass}" [class]="(input.wrapperclass || '')" [formGroup]="parentForm">
  <ng-template [ngIf]="input.type !== 'checkbox' && input.type !== 'textArea' && input.type !== 'date' && input.type !== 'number'">
    <input [class]="(input.class || '')" [type]="input.type" (change)="fileChange($event)"
      [formControlName]="input.name" [mask]="input.mask" [tabindex]="input.class === 'disabled' ? -1 : 0" [maxlength]="input.maxlength ? input.maxlength : 150" (input)="typeValue($event.target.value)" />
  </ng-template>
  <ng-template [ngIf]="input.type === 'textArea'">
    <textarea [class]="(input.class || '')" [rows]="input.rows" (change)="fileChange($event)"
      [formControlName]="input.name"></textarea>
  </ng-template>
  <ng-template [ngIf]="input.type === 'checkbox'">
    <input [class]="(input.class || '')" [type]="input.type" (change)="fileChange($event)"
      [formControlName]="input.name" [id]="input.name" [checked]="parentForm.controls[input.name].value === true ? true : false" />
  </ng-template>
  <ng-template [ngIf]="input.type === 'date'">
    <input [class]="(input.class || '')" [tabindex]="input.class === 'disabled' ? -1 : 0" [type]="input.type" (change)="fileChange($event)" [formControlName]="input.name" />
  </ng-template>
  <ng-template [ngIf]="input.type === 'number'">
    <input currencyMask [class]="(input.class || '')" (change)="fileChange($event)"
      [formControlName]="input.name" [tabindex]="input.class === 'disabled' ? -1 : 0" (ngModelChange)="typeValue($event)"
      [options]="{ thousands: ',', decimal: '.', precision: input.precision ? input.precision : 2}" />
  </ng-template>
  <i [class]="(input.class || '') + ' fa fa-' + (input.icon || '')" aria-hidden="true"></i>
</div>
