.wrapper {
	position: relative;
	margin-bottom: 10px;
	input, textarea {
		width: calc(100% - 75px);
		height: 5px;
		border: 1px solid #f1f1f1;
		border-radius: 8px;
		padding: 15px 60px 15px 15px;
		color: #152246;
	}
	input.disabled, textarea.disabled {
		cursor: initial;
		opacity: 0.4;
		transition: all 400ms linear 0s;
		background-color: #d0d0d07d;
		pointer-events: none;
	}
	textarea {
		height: auto;
		resize: none;
	}		
	input.file {
		padding: 10px 60px 10px 15px;
		height: 20px;
	}
	input[type='checkbox'] {
        width: 20px;
        height: 20px;
        appearance: none;
        border: 1px solid black;
        cursor: pointer;
        border-radius: 4px;
        text-align: center;
		padding: 0;

        &[type='checkbox']:checked:after {
            content: "✔";
            color: black;
            font-size: 13px;
            font-weight: 600;
        }
    }
	input:focus, textarea:focus {
		outline: 0;
		border: 0;
		box-shadow: 0 0 0 1px #152246;
	}
	i {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 10px;
		font-size: 20px;
		margin: auto;
		height: 20px;
		border-left: 2px solid #152246;
		padding-left: 10px;
		
		&::before {
			color: #152246;
		}
  }
  i.disabled {
	cursor: initial;
	opacity: 0.4;
	transition: all 400ms linear 0s;
	pointer-events: none;
  }
  i.checkbox {
    display: none;
  }
  i.textArea {
	top: 9px;
	bottom: auto;
  }

  &.search {
	position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    right: 117px;
  }
}
