/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Exo_2;
  src: url("./assets/fonts/Exo_2/Exo2-Regular.ttf");
}
body {
  font-family: Exo_2;
  margin: 0;
  background-color: #f1f1f1;
}

select, input, textarea {
  font-family: Exo_2;
}

body::-webkit-scrollbar {
  width: 12px;
}

textarea::-webkit-scrollbar {
  width: 8px;
}

tbody::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track, tbody::-webkit-scrollbar-track {
  background: #152246;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb, tbody::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid #152246;
}

textarea::-webkit-scrollbar-thumb, tbody::-webkit-scrollbar-thumb {
  border: 2px solid #152246;
}

textarea::-webkit-scrollbar-track, tbody::-webkit-scrollbar-track {
  border-radius: 0 6px 6px 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    //display: none;
    //-webkit-appearance: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
}

.animated {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.swal2-icon.swal2-warning {
  color: #F05454 !important;
  border-color: #F05454 !important;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  //CSS
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  //CSS
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  //CSS
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  //CSS
  
}