<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      Egresos
    </p>
    <app-input [data]="searchInput" [parentForm]="form" (tapEvent)="search($event)"></app-input>
    <app-button [data]="{text: 'Agregar', class:'wrapper-modules wrapper-clear'}" (tapEvent)="addExpense()"
      *ngIf="myapp.reviewPermission(15,'actionAdd')"></app-button>
  </div>
  <div class="content">
    <ng-template ngFor let-expense [ngForOf]="expenses">
      <div class="profile fadeIn animated">
        <div class="wrapper">
          <p>
            {{expense.name}}
          </p>
          <img class="selected" src="../../../assets/img/expenses.svg" />
          <div class="items">
            <p>{{expense.vendorName}}</p>
            <p>{{expense.expenseDate | date}}</p>
          </div>
        </div>
        <app-button [data]="{text: 'Editar', class:'wrapper-box'}" (tapEvent)="addExpense(expense)" *ngIf="myapp.reviewPermission(15,'actionEdit')"></app-button>
      </div>
    </ng-template>
  </div>
</div>
