<div class="wrapper fadeIn animated">
  <div class="header">
    <p>
      Compañías
    </p>
    <app-input [data]="searchInput" [parentForm]="form" (tapEvent)="search($event)"></app-input>
    <app-button [data]="{text: 'Agregar', class:'wrapper-modules wrapper-clear'}" (tapEvent)="addCompany()"
      *ngIf="myapp.reviewPermission(4,'actionAdd')">
    </app-button>
  </div>
  <div class="content">
    <ng-template ngFor let-company [ngForOf]="companies">
      <div class="company fadeIn animated">
        <div class="wrapper">
          <p>
            {{company.name}}
          </p>
          <img class="selected" [src]="company.picture ? company.picture : '../../../assets/img/company_default.svg'" />
          <div class="items">
            <p>{{company.address || "Esta empresa no tiene una dirección registrada"}}</p>
            <p>{{company.email || "Esta empresa no tiene un email registrado"}}</p>
          </div>
        </div>
        <app-button [data]="{text: 'Editar', class:'wrapper-box'}" (tapEvent)="addCompany(company)" *ngIf="myapp.reviewPermission(4,'actionEdit')"></app-button>
      </div>
    </ng-template>
  </div>
  <ngx-loading [show]="true" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</div>
