.wrapper {
	.header {
		width: calc(100% - 120px);
		background-color: white;
		height: 35px;
		padding: 10px 30px;
		font-weight: bold;
		font-size: 20px;
		border-left: 1px solid #f1f1f1;
		border-bottom: 1px solid #f1f1f1;
		position: fixed;
		top: 64px;
		z-index: 1;
		p {
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			height: 20px;
		}
	}
	.content {
		width: calc(100% - 40px);
		padding: 20px 20px;
		position: relative;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		margin-top: 60px;
		div.company {
			background-color: white;
			border-radius: 10px;
			text-align: center;
			width: calc(33.33333333333333% - 40px);
			margin: 10px;
			padding-bottom: 10px;
			.wrapper {
				padding: 10px;
			}
			.items {
				display: grid;
				justify-items: center;
				align-items: center;
				p {
					width: fit-content;
					text-align: center;
					background-color: #f1f1f1;
					border-radius: 10px;
					padding: 5px 10px;
					font-size: 13px;
					margin: 5px;
				}
			}
			p {
				font-weight: bold;
			}
			img {
				height: 70px;
				padding: 10px;
			}
		}
	}
	@media (max-width: 767px) {
		.header {
			width: calc(100% - 60px);
			p {
				font-size: 17px;
				height: 17px;
			}
		}
		.content {
			div.user {
				img {
					width: 100px;
					height: 100px;
				}
			}
		}
	}
	@media (max-width: 660px) {
		.content {
			justify-content: center;
			display: inline-flex;
		}
	}
}
